params {
    from_sra       = null
    // reference genome download link
    ref_genome_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/497/225/GCA_000497225.1_AmaJack1.0/GCA_000497225.1_AmaJack1.0_genomic.fna.gz"
    // output directories
    outputDir      = "${projectDir}/data"
    fastq_dir      = "${params.outputDir}/fastq"
    genome_dir     = "${params.outputDir}/genome"
    bam_dir        = "${params.outputDir}/bam"
    var_dir        = "${params.outputDir}/var"
    samples_dir    = "${params.outputDir}/samples"
    tmp_dir        = "${projectDir}/.tmp"
    // run performance
    threads        = 2
    call_processes = 8
    // VCF filters
    sampling_threshold = 0.8
    quality_filter     = "QUAL < 50"
    theta              = 0.005
}

process {
    executor = 'local'
    maxForks = 4
}

process {
    executor = 'local'
    maxForks = 4
}

docker {
    enabled = true
    runOptions = "-v ${params.tmp_dir}:/tmp --user $UID:$GID"
}

