params {
    from_sra       = null
    ref_genome_url = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/497/225/GCA_000497225.1_AmaJack1.0/GCA_000497225.1_AmaJack1.0_genomic.fna.gz"
    outputDir      = "${projectDir}/data"
    fastq_dir      = "${params.outputDir}/fastq"
    genome_dir     = "${params.outputDir}/genome"
    bam_dir        = "${params.outputDir}/bam"
    tmp_dir        = "${projectDir}/.tmp"
    threads        = 2
}

process {
    executor = 'local'
    maxForks = 2
}

docker {
    enabled = true
    options = '-v ${params.tmp_dir}:/tmp'
}

